.container{
    display: flex;
    justify-content: center;
    
}
.container div{
    background-color: rgb(230, 0, 255);
    margin: 10px;
    padding: 10px;
}
h2{
    display: flex;
    justify-content: center;
}


